body{
font-size:16px;
}
header h1{display:none;}
section h1{
font-size:20px;
margin:3px;
}
header h2, section h2{
font-size:16px;
text-align:center;
}
header ul{
font-size:12px;
text-align:center;
margin-top:5px;
}
section ol{
width:97%;
}
section table{
width:100%;
}
section ol li{
width:100%;
margin:0 5px;
text-align:right;
}
section ol li h1{
font-size:20px;
margin-bottom:4px;
position:relative;
bottom:12px;
}
section ol li img{
display:none;
}
p.tip{
font-size:12px;
}
section form{
border-left:none;
border-right:none;
border-radius:0;
width:100%;
max-width:none;
padding:4px 0;
}
section article{
margin:5px 0;
}
.small-hide{
display:none;
}

